

header {


    background-color: lightblue;

}
#wave {
    background-color: yellowgreen;
}

#head {
    background-color: white;
}
#left {

    background-color:  lightcoral;
}

#right {


    background-color:  lightsteelblue;
}


  #head {
      border: 3px black solid;
  }
  #left {
      
      float: left;
      width: 60%;
      min-height: 20em;
      
  } 
  #right {
     
     float: left;
     width: 38%; 
     min-height: 20em;
     
  } 
  #footer {
     
      background-color: orange;
      height: 50px;
      clear: both;
/*     
  }
  .main-nav {
        float: right;

  }
  .main-nav li {
        float: left;
        margin-left: 20px;
        margin-right: 20px;

  } */

  
  







